*
!.gitignore

!*/nvim/
!nvim/**
!nvim/
nvim/lazy-lock.json

!*/ranger/
!ranger/**
!ranger/

!*/lazygit/
!lazygit/**
!lazygit/
lazygit/state.yml

!*/btop/
!btop/**
!btop/
btop/btop.log

!*/xonsh/
!xonsh/**
!xonsh/

!*/alacritty/
!alacritty/**
!alacritty/

!*/rofi/
!rofi/**
!rofi/
